/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 10000;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding-bottom: 0px;
}

/* Navigation bar styles */
.navbar {
  position: fixed;
  bottom: 2px;
  left: 5px;
  width: 98%;
  border: 1px solid transparent;
  /* Utiliser transparent pour la bordure par défaut */
  background: linear-gradient(90deg, #f56b2a 0%, #f79a3c 100%);
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  transition: background 0.3s ease, border 0.3s ease;
  /* Transition douce */
}
.navbar.transparent {
  background: linear-gradient(
    90deg,
    rgba(245, 107, 42, 0.5) 0%,
    rgba(247, 154, 60, 0.5) 100%
  );
  /* Opacité ajustée à 0.5 (50%) pour rendre la couleur transparente */
  border: 1px solid
    linear-gradient(
      90deg,
      rgba(245, 107, 42, 0.5) 0%,
      rgba(247, 154, 60, 0.5) 100%
    );
  /* Vous pouvez ajuster la couleur de la bordure si nécessaire */
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: color 0.3s;
  margin-top: 10px;
  position: relative;
}

.nav-margin {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .navbar {
    display: none;
  }
}

.custom-border {
  width: 90%;
  border: 1px solid #fd7e14; /* Bordure de 2px de large, couleur #333 */
  border-radius: 10px; /* Coins arrondis */
  padding: 10px 20px; /* Espace de remplissage */
  color: #333; /* Couleur du texte */
  background-color: #fff; /* Couleur de fond */
  transition: all 0.3s ease; /* Animation de transition */
}

.custom-border:hover {
  background-color: #f38a2e; /* Changement de couleur de fond au survol */
  color: #fff; /* Changement de couleur du texte au survol */
}

.dropdown-menu {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border: 1px solid #f56b2a;
}

.dropdown-item {
  margin-left: 18px;
  padding: 10px 20px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  align-items: center;
  margin-bottom: 5px;
}

/* Profil Styles */
/* Offcanvas Header */
.offcanvas-header {
  margin-top: 15px;
  text-align: center;
}

/* Profile Options */
.profile-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

/* User Info and Login Options */
.user-info,
.login-options {
  margin-top: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.user-name,
.logout,
.login-link,
.signup-link {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

/* Divider */
.divider {
  margin: 0 10px;
}

/* Logout Color */
.logout {
  color: red;
}

/* Hover Effects */
.logout:hover,
.user-name:hover,
.login-link:hover,
.signup-link:hover {
  color: #f38a2e;
}

/* Profile Menu */
.profile-menu .nav-item {
  margin-bottom: 10px;
}

/* Profile Menu Link */
.profile-menu .nav-link {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

/* Profile Menu Link Hover */
.profile-menu .nav-link:hover {
  color: #f38a2e;
}

/* Icon Styles */
.fa-solid,
.fa-brands {
  margin-right: 5px;
}
