body {
  margin-top: 20px;
  background: #eee;
}

.container {
  margin-top: 20px;
  margin-bottom: 50px;
}

.col-md-6 {
  flex: 1;
}

.product_meta {
  margin-top: 20px;
}

.pro-price {
  color: #fc5959;
  font-size: 20px;
}

.pro-img-list a img {
  max-width: 80px; /* Ajuster la taille des images dans la liste */
  max-height: 80px;
}
/*//////////////*/

/*product list*/

.prod-cat li a {
  border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
  color: #3b3b3b;
}

.prod-cat li ul li a {
  border-bottom: none;
}
.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
  background: none;
  color: #ff7261;
}

.pro-lab {
  margin-right: 20px;
  font-weight: normal;
}

.product-list img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.adtocart i {
  color: #fff;
  font-size: 25px;
  line-height: 42px;
}

.product-image {
  width: 100px; /* Définissez la largeur souhaitée */
  height: 400px; /* Ajustez la hauteur en conséquence pour conserver les proportions */
}

.pro-img-details img {
  width: 100%;
}

.product_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin: 15px 0;
}

.product_meta span {
  display: block;
  margin-bottom: 10px;
}

.pro-img-list a {
  display: inline-block; /* Pour que les liens d'image se comportent comme des blocs */
  max-width: 100px; /* Largeur maximale des images */
  max-height: 100px; /* Hauteur maximale des images */
  overflow: hidden; /* Masquer tout débordement d'image */
  margin-right: 10px; /* Marge entre les images */
}

.custom-border {
  width: 100%;
  border-radius: 10px; /* Coins arrondis */
  padding: 10px 20px; /* Espace de remplissage */
  color: #fff; /* Couleur du texte */
  background-color: #38a543; /* Couleur de fond */
  transition: all 0.3s ease; /* Animation de transition */
}

.custom-border2 {
  width: 100%;
  border: 1px solid #38a543;
  border-radius: 10px; /* Coins arrondis */
  padding: 10px 20px; /* Espace de remplissage */
  color: #38a543; /* Couleur du texte */
  background-color: #fff; /* Couleur de fond */
  transition: all 0.3s ease; /* Animation de transition */
}

.product-box {
  border: 1px solid #ccc; /* Bordure de la boîte */
  border-radius: 5px; /* Coins arrondis */

  margin-bottom: 20px; /* Marge inférieure */
  position: relative; /* Permet de positionner des éléments en absolu à l'intérieur */
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Permet de positionner le prix en absolu */
}

.product_meta .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pro-price {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff; /* Couleur du prix */
  border: 1px solid #fd7e14; /* Bordure de 2px de large, couleur #333 */
  border-radius: 10px;
  padding: 5px 20px; /* Espace intérieur du prix */
  background-color: #fd7e14; /* Fond blanc pour le prix */
}

.name {
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 15px;
}

.xp-social-profile-avatar {
  position: relative; /* Permet de positionner les éléments en absolu à l'intérieur */
  margin: 0 auto; /* Centre l'avatar horizontalement */
}

.profile-image {
  width: 100px; /* Largeur de l'image réduite */
  height: 100px; /* Hauteur de l'image réduite */
  object-fit: cover; /* Assure que l'image couvre le conteneur sans déformer */
  border: 3px solid #fff; /* Bordure blanche autour de l'image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère autour de l'image */
}

.fit {
  object-fit: contain;
  /* This ensures the image scales properly within the defined dimensions */
}

.product-prix {
  font-size: 90%;
  color: #fff;
  border-radius: 0px 0 0 9px;
  /* Coins arrondis en haut à droite et en bas à droite */
  background: #F56B2A;
  letter-spacing: 0px;
  background: linear-gradient(90deg, #F56B2A 0%, #F79A3C 100%);
  width: 50%;
  /* Prendre 50% de la largeur du conteneur parent */
  margin-left: auto;
}
.product-container {
  background-image: url("../../assets/detail-products.jpg");
  /* Remplacez 'chemin/vers/image/background.jpg' par le chemin de votre image de fond */
  background-size: cover;
  /* Pour couvrir toute la zone du conteneur */
  background-position: center;
  /* Pour centrer l'image de fond */
  position: relative;
  /* Assurez-vous que la position est relative pour que les éléments à l'intérieur soient positionnés correctement */
}
/*--------------------------Modal Style */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1001; /* Ensure modal is above other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
  overflow: hidden; /* Hide overflow */
}

.modal-content {
  position: relative;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXhrE95i4-hvNgBgV03lBwcGdCek4433qGCw&s")
    no-repeat center center; /* Add your background image */
  background-size: cover;
}

.modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
  transition: opacity 0.9s ease; /* Smooth transition for image change */
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fd7e14; /* Orange color */
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1100; /* Ensure close button is above modal content */
  text-decoration: none; /* Remove underline */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
  color: white;
  background-color: #fd7e14; /* Orange background color */
  padding: 10px;
  transition: 0.3s ease;
  border-radius: 50%; /* Rounded shape */
  z-index: 1100; /* Ensure arrows are above modal content */
  text-decoration: none; /* Remove underline */
}

.prev {
  left: 15px; /* Adjust position */
}

.next {
  right: 15px; /* Adjust position */
}

.prev:hover,
.next:hover {
  background-color: #e65c00; /* Darker orange on hover */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .prev,
  .next {
    font-size: 20px; /* Reduce arrow size for smaller screens */
    padding: 8px; /* Adjust padding */
  }
}
/*------------------------------------*/
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  max-width: 100%;
  /* Limiter la largeur du titre à 100% de son conteneur */
  overflow: hidden;
  /* Masquer tout contenu dépassant de la zone */
  text-overflow: ellipsis;
  /* Ajouter des points de suspension pour indiquer qu'il y a plus de contenu que ce qui est visible */
  white-space: nowrap;
  /* Empêcher le texte de se mettre à la ligne */
}





.tab-content .box-product-outer {
  margin-bottom: 0;
}



.box-product .img-wrapper>a>img {
  width: 100%;
  align-self: flex-end;
  border-radius: 50px;
}






.box-product .img-wrapper .tags>.label-tags a:hover {
  text-decoration: none;
}


.box-product .img-wrapper .option>a {
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
  padding: 0 1px;
  color: #fff;
}

.box-product .img-wrapper img {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  object-fit: cover;
}









.produit .produit-item:hover {
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.produit .produit-item .produit-img {
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px 10px 0 0;
}

.produit .produit-item .produit-img img {
  transition: 0.5s;
}

.produit .produit-item .produit-img img:hover {
  transform: scale(1.3);
}

/*** Produits End ***/
.produit-img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  /* Redimensionne l'image pour remplir les dimensions spécifiées sans déformer */
}

.product-border {
  font-size: 90%;
  color: #fff;
  border-radius: 9px 0 0 0px;
  /* Coins arrondis en haut à droite et en bas à droite */
  background: #F56B2A;
  letter-spacing: 0px;
  background: linear-gradient(90deg, #F56B2A 0%, #F79A3C 100%);
  width: 50%;
  /* Prendre 50% de la largeur du conteneur parent */
  margin-left: auto;
}

h6 {

  margin-right: 250px;
}

.products-border {
  border: 1px solid #fd7e14;
  /* Bordure de 1px, couleur #fd7e14 */
  border-top: 0;
}

/*----------no products--------------*/
.clearfix:before,
.clearfix:after {
  display: table;

  content: ' ';
}

.page-404 .outer .middle .inner .inner-circle:hover i {
  color: #39bbdb !important;
  background-color: #f5f5f5;
  box-shadow: 0 0 0 15px #39bbdb;
}

.page-404 .outer .middle .inner .inner-circle:hover span {
  color: #39bbdb;
}

.page-404 .outer .middle .inner .inner-circle i {
  font-size: 5em;
  line-height: 1em;

  float: right;

  width: 1.6em;
  height: 1.6em;
  margin-top: -.7em;
  margin-right: -.5em;
  padding: 20px;

  -webkit-transition: all .4s;
  transition: all .4s;
  text-align: center;

  color: #f5f5f5 !important;
  border-radius: 50%;
  background-color: #39bbdb;
  box-shadow: 0 0 0 15px #f0f0f0;
}

.page-404 .outer .middle .inner .inner-circle span {
  font-size: 11em;
  font-weight: 700;
  line-height: 1.2em;

  display: block;

  -webkit-transition: all .4s;
  transition: all .4s;
  text-align: center;

  color: #e0e0e0;
}


h2 span {
  font-weight: 400;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  /* Adjust the margin as needed */
  padding: 10px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .5);
}

.pagination li {
  display: inline-block;
  list-style: none;
}

.pagination a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .5);
  transition: all .3s ease;
}

.pagination a:hover,
.pagination a.active {
  color: #fff;
  background-color: #fd7e14;
}

.pagination li:first-child a {
  border-radius: 40px 0 0 40px;
}

.pagination li:last-child a {
  border-radius: 0 40px 40px 0;
}

/*------fin pagination */