<div class="container bootdey" [dir]="'dir' | translate"  >
  <div class="row">
    <!-- Main product details section -->
    <aside class="col-lg-6 col-md-12 position-relative">
      <div
        class="border rounded-4 mb-3 d-flex justify-content-center position-relative product-container"
      >
        <!-- Clickable main image -->
        <a class="rounded-4 w-100" (click)="showImage(currentImageIndex)">
          <img
            style="width: 100%; height: 300px; margin: auto;filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, .5));"
            class="rounded-4 fit"
            [src]="
              productDetails?.images && productDetails.images.length > 0
                ? productDetails.images[currentImageIndex]?.imageUrl
                : 'default_image_url'
            "
            [alt]="
              productDetails?.images && productDetails.images.length > 0
                ? productDetails.images[currentImageIndex]?.alt
                : 'default_alt_text'
            "
          />
        </a>
        <span
          class="tagged_as text-white px-2 py-1 rounded"
          style="
            background-color: #fff;
            cursor: pointer;
            position: absolute;
            top: 6%;
            left: 96%;
            transform: translate(-50%, -50%);
          "
          [ngClass]="{ inactive: !isTokenAvailable }"
          (click)="isTokenAvailable && toggleFavorite(productDetails.id)"
        >
          <i
            class="fas fa-heart"
            [ngStyle]="{ color: isFavorite ? 'red' : '#fd7e14' }"
          ></i>
        </span>
        <span
          class="tagged_as text-white px-2 py-1 rounded icon1"
          style="
            background-color: #fff;
            cursor: pointer;
            position: absolute;
            top: 18%;
            left: 96%;
            transform: translate(-50%, -50%);
          "
        >
          <i class="fa-solid fa-share-nodes" style="color: #fd7e14"></i>
        </span>
      </div>
      <!-- Thumbnail images -->
      <div class="d-flex justify-content-center mb-3">
        <div
          *ngFor="let image of productDetails?.images; let i = index"
          class="border mx-1 rounded-2"
          style="cursor: pointer"
          (click)="changeMainImage(i)">
          <img
            width="60"
            height="60"
            class="rounded-2"
            [src]="image.imageUrl"
          />
        </div>
      </div>
    </aside>

    <!-- Product details section -->
    <div class="col-lg-6 col-md-12">
      <div class="card product-box">
        <div class="d-flex align-items-center">
          <span class="name">
            {{ productDetails?.name }}
          </span>
          <span class="pro-price product-prix">
            {{ productDetails?.price }} MRU
          </span>
        </div>
        
        <div class="card-body">
          <div class="product_meta">
            <div>
              <p>
                <i
                  class="fa-solid fa-location-dot fa-beat"
                  style="color: #fd7e14"
                ></i>
                {{ productDetails?.region }} , {{ productDetails?.subRegion }}
              </p>
            </div>
            <div class="product_meta">
              <span
                class="posted_in d-flex justify-content-between align-items-center"
              >
                <strong>
                  <i
                    class="fa-solid fa-calendar-days"
                    style="color: #fd7e14"
                  ></i>
                  {{
                    productDetails?.createDate
                      ? (productDetails?.createDate | date)
                      : ""
                  }}
                </strong>

                <p>
                  {{ productDetails?.subCategory }}
                </p>
                
              </span>
              <span class="tagged_as">
                <strong
                  ><i class="fa-solid fa-eye" style="color: #fd7e14"></i>
                  {{ productDetails?.hit }}</strong
                >
                
                
              </span>
            </div>
            <p [dir]="'ltr' | translate">
              <button class="btn btn-round custom-border" type="button">
                <i class="fa fa-phone"></i> +222
                {{ productDetails?.vendorDetails?.phoneNumber }}
              </button>
            </p>
            <p [dir]="'ltr' | translate" >
              <button class="btn btn-round custom-border2" type="button">
                <i class="fa-brands fa-square-whatsapp"></i> +222
                {{ productDetails?.vendorDetails?.whatsappNumber }}
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
    <div class="card product-box">
      <div>
        <strong style="color: #fd7e14">Description Section</strong>
        <p style="font-size: 13px">{{ productDetails?.description }}</p>
      </div>
    </div>

    <div class="card product-box">
      <div>
        <strong style="color: #fd7e14">Security Tips Section</strong>
        <p style="font-size: 11px">
          {{ "product-detail.security_tips" | translate }}
        </p>
      </div>
    </div>
  </div>


  <!-- Seller info section -->

  <div class="col-md-6">
    <div class="card m-b-30">
      <div class="card-header bg-white">
        <h5 class="card-title text-black mb-0">
          {{ "product-detail.seller_info_section" | translate }}
        </h5>
      </div>
      <div class="card-body">
        <div class="xp-social-profile">
          <div class="xp-social-profile-top">
            <div class="row">
              <div class="col-3">
                <div class="xp-social-profile-star py-3">
                  <i class="mdi mdi-star font-24"></i>
                </div>
              </div>
              <div class="col-6">
                <div class="xp-social-profile-avatar text-center">
                  <img
                    [src]="
                      productDetails?.vendorDetails?.profileUrl ||
                      'https://bootdey.com/img/Content/avatar/avatar7.png'
                    "
                    alt="user-profile"
                    class="rounded-circle img-fluid profile-image"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="xp-social-profile-menu text-right py-3">
                  <i class="mdi mdi-dots-horizontal font-24"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="xp-social-profile-middle text-center">
            <div class="row">
              <div class="col-12">
                <div class="xp-social-profile-title">
                  <h5 class="my-1 text-black">
                    {{ productDetails?.vendorDetails?.name }}
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="xp-social-profile-bottom text-center">
            <div class="row">
              <div class="col-4">
                <div class="xp-social-profile-followers pt-3">
                  <i class="fa-solid fa-phone" style="color: #38a543"></i>
                  <p class="mb-0 text-muted">
                    {{ "product-detail.seller_phone" | translate }}
                  </p>
                </div>
              </div>
              <div class="col-4">
                <div class="xp-social-profile-followers pt-3">
                  <h5 class="text-black my-1">
                    {{ "product-detail.seller_ads" | translate }}
                  </h5>
                  <p class="mb-0 text-muted">
                    {{ "product-detail.seller_ads" | translate }}
                  </p>
                </div>
              </div>
              <div class="col-4">
                <div class="xp-social-profile-followers pt-3">
                  <i class="fa-brands fa-whatsapp" style="color: #38a543"></i>
                  <p class="mb-0 text-muted">
                    {{ "product-detail.seller_whatsapp" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>


  <!-- Full-screen image gallery modal -->
  <div #imageModal class="modal">
    <span class="close" (click)="closeFullScreenGallery()">&times;</span>
    <div class="modal-content">
      <div
        class="mySlides"
        *ngFor="let image of productDetails?.images; let i = index"
        [ngStyle]="{ display: i === currentImageIndex ? 'block' : 'none' }"
      >
        <img
          [src]="image.imageUrl"
          style="width: 100%; height: 100vh; object-fit: contain; filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, .5));"
        />
      </div>
      
      <!-- Condition pour afficher les flèches seulement si nécessaire -->
      <button
        *ngIf="productDetails?.images && productDetails.images.length > 1 && shouldShowNavigation()"
        class="cv-carousel-btn cv-prev-btn btn position-absolute"
        (click)="previousImage()"
      >
        <i class="fa fa-chevron-left"></i>
      </button>
      <button
        *ngIf="productDetails?.images && productDetails.images.length > 1 && shouldShowNavigation()"
        class="cv-carousel-btn cv-next-btn btn position-absolute"
        (click)="nextImage()"
      >
        <i class="fa fa-chevron-right"></i>
      </button>
    </div>
  </div>
  



 

  <div class="col-md-12 mx-md-50">
    <div class="title">
      <span>
        <i class="fa-solid fa-list fa-beat-fade" style="color: #f08c00; border: 1px solid; padding: 0.1em;"></i>
        Annonces Similaires
      </span>
    </div>
    <div class="tab-class text-center">
      <div class="tab-content produit mx-md-5">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row flex-wrap flex-lg-nowrap g-2">
            <div class="row g-2" *ngIf="pagedProducts.length > 0; else noProductTemplate">
              <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2" [routerLink]="['/product-details', product.id]"
                *ngFor="let product of pagedProducts">
                <div class="rounded position-relative produit-item" style="cursor: pointer;">
                  <div class="produit-img">
                    <img [src]="product.images && product.images.length > 0 ? product.images[0].imageUrl : 'default-image-url'"
                      [alt]="product.name" class="img-fluid w-100 rounded-top" alt="" loading="lazy">
                  </div>
                  <div class="text-white bg-secondary px-2 py-1 rounded position-absolute"
                    style="top: 5px; right: 5px; font-size: 0.9rem;">
                    <i class="fa fa-eye fa-xs"></i> {{ product.hit }}
                  </div>
                  <div class="border-top-0 rounded-bottom products-border" [dir]="'ltr' | translate">
                    <h6 class="text-dark fw-bold mb-0"
                      style="font-size: 0.8rem; text-overflow: ellipsis; white-space: nowrap; font-weight: 700;">
                      {{ shortenProductName(product.name) }}
                    </h6>
                    <div class="d-flex justify-content-between align-items-center">
                      <p class="mb-0" style="font-size: 1.0rem;"></p>
                      <p class="mb-0 text-right" style="font-size: 0.7rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <i class="fa-solid fa-location-dot fa-flip-horizontal" style="color: #fd7e14;"></i> {{
                        product.region }}, {{
                        product.subRegion }}
                      </p>
                  
                    <div class="product-border">
                      <a class="btn  px-2 cv-global-gradient cv-p-price font-p-m m-0 px-2 py-1  "
                        style="font-size: 0.8rem; width: 100%; color: #fff;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{
                        product.price + " MRU" }}</a>
                      </div>
                      </div>
                      </div>
                </div>
              </div>
            </div>
            <ng-template #noProductTemplate>
              <div class="col-12 text-center py-5">
                <img src="../../assets/img/empty-box.png" alt="No products" class="img-fluid" style="max-width: 200px;" loading="lazy">
                <p class="text-center mt-3">{{ 'produit.aucun_produit' | translate }}</p>
                <!-- Utilisation de la clé de traduction 'produit.aucun_produit' -->
              </div>
            </ng-template>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
